streamlit
python-dotenv

langchain
langchain-core
langchain-communit
langchain-text-splitters
langchain-chroma
langchain-openai

torch
torchvision

chromadb==0.3.29
protobuf==4.23.3
sentence-transformers

opentelemetry-sdk
opentelemetry-exporter-otlp-proto-grpc==1.15.0