streamlit
python-dotenv

langchain
langchain-core
langchain-communit
langchain-text-splitters
langchain-chroma
langchain-openai

torch
torchvision

chromadb
protobuf
sentence-transformers

opentelemetry-sdk
opentelemetry-exporter-otlp-proto-grpc