streamlit
python-dotenv

langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-chroma
langchain-openai

torch
torchvision
chromadb
sentence-transformers

pypdf
docx2txt
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-grpc
